{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <h1>{{ newsletter.title }}</h1>
        <p>{{ newsletter.description }}</p>
        <hr>
        <h3>Настройки:</h3>
        <ul>
            <li><strong>Время отправки:</strong> {{ newsletter.send_time }}</li>
            <li><strong>Частота:</strong> {{ newsletter.get_frequency_display }}</li>
            <li><strong>Статус:</strong> {{ newsletter.status }}</li>
        </ul>
        <hr>
        <h3>Подписчики:</h3>
        <ul>
            {% for customer in newsletter.customers.all %}
                <li>{{ customer.full_name }} ({{ customer.email }})</li>
            {% empty %}
                <li>Пока нет подписчиков.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-footer mt-auto">
        <a href="{% url 'main:newsletters' %}" class="btn btn-primary"><< Назад</a>
    </div>
{% endblock %}