{% extends 'main/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <h5 class="card-title text-muted text-center font-weight-bold"><br>Сервис SkyChimp<br></h5>
        <h5 class="card-title text-muted">Сервис управления рассылками, администрирования и получения
            статистики - это инструмент, который позволяет создавать и отправлять массовые рассылки, а также
            получать статистику по выполненным рассылкам. С помощью такого сервиса можно управлять адресными
            книгами, создавать эффективные формы подписок, использовать динамический контент для большего
            вовлечения аудитории, а также получать статистику по главным метрикам, которая позволяет оценить
            эффективность рассылки и выявить ошибки при отправке писем.</h5>
    </div>
{% endblock %}
