{% extends 'main/base.html' %}

{% block content %}
    {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text">{{ object|title }}</p>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'main:newsletters' %}" class="btn btn-secondary m-2"><< Назад</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
